<div class="game">

<p>What is your question?
<form action="/magic8/fortune" method = "get" >
  <input type="text" name="question" placeholder="Your question here">
  <button>Find your fortune</button>
</form></p>

</div>
