<div class= "game">
<a href="/rock_paper_scissors/rock"><image src="http://www.dundjinni.com/forums/uploads/bradleyb/Z8F_rock2.png"></a>
<a href="/rock_paper_scissors/paper"><image src="http://www.freepngimg.com/thumb/paper%20sheet/3-paper-sheet-png-image-thumb.png"></a>
<a href="/rock_paper_scissors/scissors"><image src="http://www.freepngimg.com/thumb/scissors/4-scissors-png-image-thumb.png"></a>

<h1> <%=@message%> </h1>
</div>
