<h1>Welcome to the Carnival</h1>
<div class="game">
<a href="/magic8"><image src="http://ai-i3.infcdn.net/icons_siandroid/png/200/1089/1089887.png">Magic 8 Ball</a>
<a href="/secret"><image src="https://d30y9cdsu7xlg0.cloudfront.net/png/201432-200.png">Secret Number</a>
<a href="/rock_paper_scissors"><image src="https://lh4.ggpht.com/opxWoBtWSsa3fmOk0iStev6VnDUqaiGCLmnMVTqFWJoiMWrFu0yjCe1fGcqGJeNG-3w=w300">Rock Paper Scissors</a>
</div>
