<form action="/parks" method="post">
  <label for="">Name:</label>
  <input type="text" name ="park[name]">
  <label for="">Image:</label>
  <input type="url" name ="park[image]">
  <label for="">Country:</label>
  <input type="text" name ="park[country]">
  <label for="">State:</label>
  <input type="text" name = "park[state]">
  <label for="">Year:</label>
  <input type="text" name ="park[year]">
  <label for="">Annual Visitors:</label>
  <input type="number" name ="park[annual_visitors]">
  <label for="">Size in acres:</label>
  <input type="number" name ="park[size]">
  <label for="">Annual Visitors:</label>
  <input type="boolean" name ="park[visited]">
  <!-- is this the right type? -->
  <label for="">Known for:</label>
  <input type="text" name ="park[known_for]">
  <button>Create park</button>
</form>
