<div class="profiles">
  <h1> Add a Giraffe </h1>
    <form action="/giraffes" method="post">
      <p> <label> First Name: </label>
      <input type="text" name = "first_name" placeholder = "eg. Katurtle"> </p>

      <p> <label> Last Name: </label>
      <input type="text" name = "last_name" placeholder = "eg. Lee"> </p>

      <p> <label> Photo of You: </label>
      <input type="URL" name = "image" placeholder = "url link to img"> </p>

      <p> <label> Neighborhood/City: </label>
      <input type="text" name = "city" placeholder = "eg. Duboce Park, SF"> </p>

      <p> <label> Bithday: </label>
      <input type="text" name = "birthday" placeholder = "YYYY-MM-DD"> </p>

      <p> <label> Your Day Gig: </label>
      <input type="text" name = "occupation" placeholder = "eg. stripper"> </p>

      <p> <label> Favorite Noms: </label>
      <input type="text" name = "fav_food" placeholder = "eg. K(orean) Fried Chicken"> </p>

      <p> <label> How you Unwind: </label>
      <input type="text" name = "hobby" placeholder = "eg. juggling bananas"> </p>
      <p> <label> Burning Man Contribution: </label>
      <input type="text" name = "bm_contribution" placeholder = "eg. being me"> </p>
      <p> <label> Favorite BM memory: </label>
      <input type="text" name = "fav_bm_memory" placeholder = "eg. that time at sunrise..."> </p>
      <p> <label> Anything Else: </label>
      <input type="text" name = "anything_else" placeholder = "eg. whatever you want"> </p>
      <button>Submit</button>
    </form>
</div>
