// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-image: url('giraffe_print.jpg');
  font-family: 'Josefin Sans', sans-serif;
  max-width: 960px;
  text-align: center;
}
